.Transactionstable{
    display: block;
    margin-top: 4rem;
}



table{
    width: 100%;
    margin: 0 auto;
    border-spacing: 0 0.5rem ;
   padding-right: 10px;
   padding-left: 10px;
   position: relative;
   overflow-y: scroll;
}

th{
    color: var(--text-body);
    font-weight: 400;
    padding: 1rem 1.5rem;
    text-align: left;
    line-height: 1.5rem;
}

td {
    max-width: 100%;
    padding: 1rem 2rem;
    border: 0;
    background: var(--shape);
    color: var(--text-body);
    margin: 0px 5px 0px 5px;
}

td:first-child {
    border-bottom-left-radius: 0.8rem;
    border-top-left-radius: 0.8rem;
}

td:nth-last-child(1) {
    border-bottom-right-radius: 0.8rem;
    border-top-right-radius: 0.8rem;
    
}

td:nth-last-child(4) {
    color: var( --text-title);    
}

td:nth-last-child(1) {
   width: 10%; 
}
td:nth-last-child(2) {
    width: 10%; 
 }

/* Table estilos mobile*/
.TransactionstableMobile{
    margin-top: 4rem;
    display: none;
}

.TransactionstableMobile h3{
    max-width: 400px;
    font-size: 1.25rem;
    font-weight: normal;
    margin-left: 3px;
    margin: 0px auto 10px auto ;
}

.TransactionstableMobile div{
    max-height: 150px;
    height: 100%;
    max-width: 400px;
    width: 100%;
    background: var(--shape);
    padding: 1rem;
    font-size: 0.875rem;
    border-radius: 20px;
    margin: 0px auto 20px auto;
    
}

.TransactionstableMobile p{
    font-size: 1rem;
    color: var( --text-title)
}

.TransactionstableMobile strong{
    font-weight: normal;
    font-size: 1.625rem;
    line-height: 1.875rem;
    margin-top: 10px;
}
.entradaMobile{
    color: var(--green);
}

.TransactionstableMobile ul{
    display: flex;
    justify-content: space-between;
    color: var(--text-body);
}

.TransactionstableMobile ul li{
    padding-top: 20px;
    font-size: 1rem;
}

.configUl li{
    color: aliceblue;

    position: relative;
    top: -18px;
}

.configUl li button{
    background: none;
    font-weight: bolder;
    font-size: 1.125rem;
    height: 1px;
}


@media(max-width: 579px){
    .Transactionstable{
        display: none;
    }

    .TransactionstableMobile{
        display: block;
    }
}
