section{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem; 
    max-width: 1088px;
    margin: 0 auto;
    padding: 0px 10px 0px 10px;
}

.boxSummary{
    background: var(--shape);
    border-radius: 20px;
    color: var(--text-title);
    padding: 1.5rem 2rem;
    height: 136px;
    
}

strong {
    display: block;
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: 500;
    line-height: 3rem;
}

.saidas p{
    color: var(--red);
}

.entradas p{
    color: var(--green);
}

.boxBlue{
    background: var(--blue);
    color: var(--shape);
}

.boxBlue header{
    display: flex;
    justify-content: space-between;
}

.boxBlue header img{
    position: relative;
    top: -5px;
}

@media(max-width: 853px){
    section{
        gap: 1rem;
        padding-bottom: 10px;
        position: relative;
        overflow-x: auto; /* se quebrar o container coloca a barra de rolagem*/
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        scrollbar-width: thin;          /* "auto" or "thin" */
        scrollbar-color: var(--blue) var(--shape);   /* scroll thumb and track */ 
        cursor: pointer;
    }

    section::-webkit-scrollbar{
        height: 6px;
        -webkit-overflow-scrolling: touch;
    }
    section::-webkit-scrollbar-track {
        background: var(--shape);
      }
    section::-webkit-scrollbar-thumb {
        background-color: var(--blue);    /* color of the scroll thumb */
        border-radius: 5px;       /* roundness of the scroll thumb */
    }
    section:hover{
        cursor: pointer;
    }
    .boxSummary{
        width: 260px;
        padding-bottom: 5px;
    }
}